<!DOCTYPE html>
<html>
  <head>
    <title>GoalApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <h1> HERE </h1>
    <% if logged_in? %>
      <%= current_user.username %>
      <form action="<%= session_url  %>" method="post">
        <% auth_token_input %>
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Sign Out">
      </form>
    <% else %>
      <a href="<%=user_url%>"> Sign In </a>
      <a href="<%= sessions_url %>"> Sign Up </a>
    <% end %>


    <%= yield %>
  </body>
</html>
